<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Меню</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <!--    First-->
    <script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <!--    Second-->
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-between">
        <div class="navbar-brand text-light" id="navbarSupportedContent"
             th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!
        </div>
        <div><a class="navbar-text" href="/logout">Выйти</a></div>
    </div>
</nav>
</body>
</html>