<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!--    First-->
    <script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <!--    Second-->
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

    <meta charset="UTF-8">
<head>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <h5><span class="navbar-text text-light mr-sm-2" th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</span></h5>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-link text-light" ><h5>Выйти</h5></button>
    </form>
</nav>
</body>
</html>